.width{
	margin-left: 10%;
	width: 80%;
	color: white !important;
}
html{
	background-color: #222;
}
h1{
	color: white !important;
	font-family: 'Open Sans', sans-serif;
}
img{
	height: 200px;
}
body {
	padding-top: 30px
}
